<nav id="navbar-main" class="navbar   fixed-top navbar-main navbar-expand-lg navbar-light" >
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/']">
      <h1 class="display-4 text-white">articles</h1>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text text-white">FALTU</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.linkedin.com/in/puneethreddyhc" target="_blank" data-toggle="tooltip" title="connect in linkedin">
            <i class="fa fa-linkedin-square"></i>
            <span class="nav-link-inner--text d-lg-none">linkedin</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://github.com/puneethreddyhc" target="_blank" data-toggle="tooltip" title="Star us on Github">
            <i class="fa fa-github"></i>
            <span class="nav-link-inner--text d-lg-none">Github</span>
          </a>
        </li>
        <li class="nav-item" *appShowAuthed="true">
            <a class="nav-link nav-link-icon" [routerLink]="['/editor']" routerLinkActive="active" data-toggle="tooltip" title="Write Article" >
              <i class="fa fa-edit"></i>
              <span class="nav-link-inner--text text-white">Article</span>
            </a>
          </li>
          <li class="nav-item" *appShowAuthed="true">
            <a class="nav-link nav-link-icon" [routerLink]="['/settings']" routerLinkActive="active" data-toggle="tooltip" title="Edit profile">
              <i class="fa fa-cog"></i>
              <span class="nav-link-inner--text text-white">Settings</span>
            </a>
          </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *appShowAuthed="false">
          <a [routerLink]="['/login']" routerLinkActive="active" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-download mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *appShowAuthed="true">
          <a [routerLink]="['/profile', currentUser.username]" routerLinkActive="active" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
            {{ currentUser.username }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
