<nav id="navbar-main" class="navbar   fixed-top navbar-main navbar-expand-lg navbar-light" >
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/']">
      <h1 class="display-4 text-white">articles</h1>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          
          <li class="nav-item d-none d-lg-block ml-lg-4" *appShowAuthed="true">
            <a [routerLink]="['/settings']" routerLinkActive="active"  class="btn btn-neutral btn-icon" title="Write Article">
              <span class="btn-inner--icon"><i class="fa fa-cog"></i> Settings</span>
            </a>
          </li>
        
          <li class="nav-item d-none d-lg-block ml-lg-4" *appShowAuthed="false">
          <a [routerLink]="['/login']" routerLinkActive="active" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-cloud-download mr-2"></i>
            </span>
            <span class="nav-link-inner--text">LOGIN/REGISTER</span>
          </a>
        </li>

        <li class="nav-item d-none d-lg-block ml-lg-4" *appShowAuthed="true">
          <a [routerLink]="['/profile', currentUser.username]" routerLinkActive="active" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
            {{ currentUser.username }}
            </span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4" *appShowAuthed="true">
            <button class="btn btn-neutral btn-icon"
          (click)="logout()">
          Logout
        </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
